body{
    font-family: 'Poppins', sans-serif;
}
#myCarousel{
height:550px;
}

#myCarousel img{
    height:550px;
    object-fit: fill;
    }
.color-1{
    color: brown;
    font-family: 'Satisfy', cursive;
}
.card{
    border-radius: 20px;
}
.card-text-color{
    color: #0A0826;
}
.card-button{
    background-color:#0A0826 ;
}
.footer-btn{
 background-color: #000000;
}
.footer-bg{
    background-color: #0B0D17;
}
.photo-frame:hover .photo {
    transform: scale(1.1);
    transition: transform .5s ease-in-out;
}